body {
  background-color: burlywood;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.timer {
  border: 1px solid;
  border-color: cyan;
  background-color: darkgoldenrod;
}

button {
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: darkorange;
}



